@font-face {
  font-family: "iconfont"; /* Project id 2874957 */
  src: url('iconfont.woff2?t=1634540667244') format('woff2'),
       url('iconfont.woff?t=1634540667244') format('woff'),
       url('iconfont.ttf?t=1634540667244') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-xiangxia:before {
  content: "\e601";
}

